.gallery-image-style {
  display: block;
  max-width: 95%;
  max-height: 800px;
  margin: 50px auto; }

.gallery-main-title-style {
  margin: 0px;
  padding: 50px 0; }

.main-gallery-showcase {
  background-color: #333333;
  margin-bottom: 150px; }

.gallery-text-style {
  font-size: 1.5rem;
  margin-top: 70px;
  text-align: center; }
