* {
  margin: 0;
  padding: 0; }

.font-style {
  font-family: 'Overpass', sans-serif;
  font-size: 18px; }

.max-width {
  max-width: 1920px;
  margin: auto; }

.background-color {
  background-color: white; }

.hidden {
  display: none; }

.button-style {
  display: inline-block;
  background-color: #fff;
  color: #333333;
  border: 1px solid #333333;
  text-decoration: none;
  padding: 5px 10px 3px 10px;
  margin: 20px;
  border-radius: 15px;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 600; }
  .button-style:hover {
    background-color: #333333;
    color: #fff;
    transition: 0.3s;
    cursor: pointer; }

.secondary-button-style {
  background-color: #333333;
  color: #fff;
  border: 1px solid #fff; }
  .secondary-button-style:hover {
    background-color: #fff;
    color: #333333;
    transition: 0.3s;
    cursor: pointer; }

.logo-img-style {
  width: 45px;
  float: right;
  margin: 5px; }

.ul-style {
  display: inline-block;
  list-style: none;
  margin: 20px 0 0 0; }
  .ul-style .nav-li-style {
    float: left; }
    .ul-style .nav-li-style .nav-a-style {
      text-decoration: none;
      font-weight: 600;
      color: #333333;
      padding: 5px 10px;
      transition: 0.3s; }
    .ul-style .nav-li-style :hover {
      color: #888888;
      transition: 0.2s; }

.separating-bar-img-style {
  width: 100%; }

.main-title-style {
  font-size: 3rem;
  color: #333333;
  text-align: center;
  margin-top: 100px;
  padding: 20px; }

.main-welcome-picture-style {
  display: block;
  width: 150px;
  margin: 10px auto 20px auto;
  border: none;
  transition: 0.5s; }

.secondary-title-style {
  color: #333333;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 100px;
  padding: 20px; }

.third-title-style {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px; }

.section-title-style {
  margin-top: 40px;
  margin-bottom: 40px; }

.small-dividing-line-style {
  width: 80%;
  height: 1px;
  margin: auto;
  border: none;
  background-color: #333333; }

.skills-container-style {
  margin: 150px auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 50% 1fr;
  justify-items: center;
  align-items: center; }
  .skills-container-style .skills-1-img-container-style {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 120px);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .skills-container-style .skills-1-img-container-style .main-skills-img-style {
      width: 120px; }
  .skills-container-style .skills-2-img-container-style {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .skills-container-style .skills-2-img-container-style .secondary-skills-img-style {
      width: 90px; }

.last-skills-container-style {
  margin-bottom: 50px; }

.extra-skills-img-style {
  max-width: 400px; }

.text-container-style {
  padding: 40px; }

.multiple-projects-container-style {
  display: grid;
  overflow: none;
  max-width: 940px;
  margin: 0 auto 100px auto;
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto; }

.small-project-container-style {
  text-align: center;
  padding: 20px 0 0 0;
  border: 3px solid #333333;
  border-radius: 14px;
  -webkit-box-shadow: 5px 5px 8px -4px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 5px 5px 8px -4px rgba(51, 51, 51, 0.5);
  box-shadow: 5px 5px 8px -4px rgba(51, 51, 51, 0.5); }

.small-project-img-style {
  justify-self: center;
  height: 150px; }

.small-project-title-style {
  margin: -10px 0 0 0; }

.skills-used-style {
  font-weight: 800;
  color: #868686; }

.project-container-style {
  display: grid;
  max-width: 1000px;
  margin: 0 auto 100px auto;
  grid-template-columns: 300px 1fr;
  padding: 20px;
  grid-gap: 40px;
  border: 2px solid #333333;
  border-radius: 500px;
  -webkit-box-shadow: 5px 5px 8px -4px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 5px 5px 8px -4px rgba(51, 51, 51, 0.5);
  box-shadow: 5px 5px 8px -4px rgba(51, 51, 51, 0.5); }

.project-img-style {
  justify-self: right;
  align-self: center; }

.project-reuse-logo-style {
  width: 200px; }

.footer-style {
  background-color: #333333;
  color: #fff; }

.footer-p-style {
  padding: 0 50px;
  text-align: center;
  max-width: 1000px;
  margin: 20px auto; }

.footer-title-style {
  color: #fff;
  margin: 0px auto;
  padding: 40px;
  width: 300px; }

.centering-container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center; }

.last-item {
  padding-bottom: 40px;
  margin: 0 auto; }

.footer-hr {
  max-width: 80%;
  margin: 20px auto 30px auto;
  border: 0;
  height: 1px;
  background-color: #fff; }

@media only screen and (min-width: 1921px) {
  .max-width {
    border-left: 7px solid #333333;
    border-right: 7px solid #333333; } }

@media only screen and (max-width: 930px) {
  .skills-container-style {
    margin: 50px auto;
    max-width: 600px;
    display: block; }
  .third-title-style {
    text-align: center; }
  .last-skills-container-style {
    margin-bottom: 0px;
    text-align: center; }
  .small-dividing-line-style {
    width: 80%; }
  .extra-skills-img-style {
    max-width: 250px; }
  .project-container-style {
    display: block;
    max-width: 360px;
    text-align: center;
    margin: 0 auto 100px auto;
    padding: 20px 0;
    border-radius: 35px; } }

@media only screen and (max-width: 525px) {
  .ul-style {
    display: inline-block;
    list-style: none;
    margin: 20px 0 0 0;
    text-align: center; }
    .ul-style .nav-li-style {
      float: none; }
      .ul-style .nav-li-style .nav-a-style {
        text-decoration: none;
        font-weight: 600;
        color: #333333;
        padding: 5px 10px;
        transition: 0.3s; }
      .ul-style .nav-li-style :hover {
        color: #888888;
        transition: 0.2s; }
  .hidden {
    display: block; }
  .small-dividing-line-style {
    width: 100vw;
    margin-bottom: 3px; }
  .logo-img-style {
    display: none; } }
