$main-color : #333333;
$secondary-color : #868686;
$background-color:white;
$off-color: #fff;
$box-shadow: 5px 5px 8px -4px rgba(51,51,51,0.5);

* {
    margin: 0;
    padding: 0;
}
.off-color{
    color:$off-color;
}

.main-color{
    color:$main-color;
}

.font-style {
    font-family: 'Overpass', sans-serif;
    font-size:17px;
}
.max-width{
    max-width:1920px;
    margin:auto;
}

.background-color{
    background-color:$background-color;
}

.hidden {
    display:none;
}

.main-title-style{
    font-size:2.3rem;
    color: $off-color;
    text-align:center;
    padding:20px;
}

.secondary-title-style{
    color: $off-color;
    font-size:1.7rem;
    text-align:center;
    padding:20px;
}

.third-title-style{
    font-size:1.5rem;
    margin-bottom:20px;
}

.section-title-style{
    margin-top:40px;
    margin-bottom:40px;
}

.button-style{
    display: inline-block;
    background-color: $off-color;
    color: $main-color;
    border:1px solid $main-color;
    text-decoration: none;
    padding:5px 10px 3px 10px;
    margin:20px;
    border-radius: 15px;
    transition: 0.3s;
    font-size:1rem;
    font-weight: 600;
    &:hover{
        background-color: $main-color;
        color: $off-color;
        transition: 0.3s;
        cursor: pointer;
    }
}

.secondary-button-style{
    background-color: $main-color;
    color:$off-color;
    border:1px solid $off-color;
   
    &:hover{
        background-color: $off-color;
        color: $main-color;
        transition: 0.3s;
        cursor: pointer;
    }
}

.small-dividing-line-style{
    width:80%;
    height:1px;
    margin:auto;
    border:none;
    background-color:$main-color;
}

.separating-bar-img-style{
    width:100%;
}

.hidden{
    display:none;
}





//navigation
.logo-img-style {
    z-index: 30;
    width:45px;
    position: absolute;
    top:10px;
    right:10px;

}
.ul-style {
    position: absolute;
    top:15px;
    list-style: none;

    .nav-li-style {
        float:left;

        .nav-a-style {
            text-decoration: none;
            font-weight:600;
            color: $off-color;
            padding:5px 10px;
            transition:0.3s;
            
        }
        & :hover{
            color: $secondary-color;
            transition:0.2s;
        }
    }
}






// main showcase 
.menu-img-style{
    display:none;
}
.main-showcase {
    display:block;
    height:100vh;
    background-image: url("/images/show.jpg");
    background-position: center;
    background-repeat: none;
    background-size:2120px;
}

.showcase-centering-container{ 
    
padding-top:calc(50vh - 200px);

}

.main-welcome-picture-style {
    display:block;
    width:150px;
    margin:10px auto 20px auto;
    border:none;
}

.showcase-last{
    display:block;
    width:140px;        
    position: absolute;
    left:calc(50vw - 75px);
    bottom:10px;
    &:hover{
        cursor: pointer;
    }
}



//Skills 1
.skills-container-style{
    margin:50px auto;
    max-width:1300px;
    display:grid;
    grid-template-columns: 50% 1fr;
    justify-items: center;
    align-items: center; 

        .skills-1-img-container-style{
            display:grid;
            width:100%;
            grid-template-columns: repeat(auto-fit,120px);
            grid-template-rows: auto;
            grid-gap:20px;
            justify-content: center;   
            justify-items: center;   
            align-items: center;

            .main-skills-img-style{
                 width:100px;

            }       
        }

        .skills-2-img-container-style{
            display:grid;
            width:100%;
            grid-template-columns: repeat(auto-fit,120px);
            grid-template-rows: auto;
            grid-gap:20px;
            justify-content: center;   
            justify-items: center;   
            align-items: center; 

            .secondary-skills-img-style{
                width:80px;
             }
        }
        
}

.last-skills-container-style {
    max-width:1100px;
    margin-bottom:-50px;
    }
    
.extra-skills-img-style{
    max-width:400px;
    max-height:260px;
    margin:0 auto;
}

.text-container-style{
    padding:40px;
 }

 



 
// Projects Section

.project-title-style{
    color:$main-color
}

.multiple-projects-container-style{
    display:grid;
    overflow:hidden;
    max-width:940px;
    margin: 0 auto 50px auto;
    grid-gap:20px;
    text-align: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill,300px);
    grid-template-rows: auto;
}

.small-project-container-style{
    text-align:center;
    padding: 20px 0 0 0;
    border:3px solid $main-color;
    border-radius:18px;
    
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.small-project-img-style{
    justify-self: center;
    max-height:100px;
}

.small-project-title-style{
    margin:-10px 0 0 0;
}
.skills-used-style{
    font-weight: 800;
    color: $secondary-color;
}


.project-container-style{
    display:grid;
    max-width:1000px;
    margin:0 auto 50px auto;
    grid-template-columns: 300px 1fr;
    grid-gap:40px; 
    border:2px solid $main-color;
    border-radius: 500px;

    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.project-img-style{
    justify-self: right;
    align-self: center;
}

.project-reuse-logo-style{
    max-width:200px;
}




//footer 
.footer-style{
    background-color: $main-color;
    color: $off-color
}

.footer-p-style{
    padding:0 50px;
    text-align: center;
    max-width:1000px;
    margin:20px auto;
}

.footer-title-style{
    color:$off-color;
    margin:0px auto;
    padding:40px;
    max-width:300px;
}

.centering-container{
    margin:0 auto;
    max-width:600px;
    text-align: center;
}

.last-item{
    padding-bottom:40px;
    margin:0 auto;
}

.footer-hr{
    max-width:80%;
    margin:20px auto 30px auto;
    border:0;
    height:1px;
    background-color: $off-color
}

//media queries
@media only screen and (min-width: 681px) { 
    .ul-style{
        display: block;
    }
}
@media only screen and (min-width: 1921px) { 
.max-width{
    border-left:7px solid $main-color;
    border-right: 7px solid $main-color;
 }
}

@media only screen and (max-width: 1000px) { 

    .multiple-projects-container-style{
        max-width:620px;   
    }
}

@media only screen and (max-width: 930px) { 


.showcase-last{
    display:block;
    width:140px;        
    position: absolute;
    left:calc(50vw - 80px);
    bottom:10px;
}


    //Skills 1
    
.skills-container-style{
    margin:50px auto;
    max-width:600px;
    display:block;     
    text-align: center;
}

.third-title-style{
    text-align: center;
}

.last-skills-container-style {
    margin-bottom: 0px;
    text-align:center;
 
}
    
.extra-skills-img-style{
    max-width:300px;
}
    
    // Projects Section
.project-container-style{
    display:block;
    max-width:360px;
    text-align:center;
    padding:40px 0 0 0;
    border-radius: 35px;
 }

 .project-img-style{
    max-height: 150px;
 }
}

@media only screen and (max-width: 680px) { 
    .font-style {
        font-family: 'Overpass', sans-serif;
        font-size:15px;
    }

    .menu-img-style{
        z-index: 20;
        display:block;
        position: absolute;
        top:10px;
        left:10px;
        width:25px;
        padding:10px;
        &:hover{
            cursor: pointer;
        }
    }

    .main-welcome-picture-style {
        width:100px;
    }

        //navigation
    .ul-style {
        z-index: 10;
        width:100%;
        margin:auto;
        margin-top:-20px;
        list-style: none;
        text-align:center;
        background-color: $main-color;

        .nav-li-style {
            float:none;
            margin:50px auto;

            .nav-a-style {
                text-decoration: none;
                font-weight:600;
                color: $off-color;
                padding:5px 10px;
                transition:0.3s;

                  &:hover{
                color:#888888;
                transition:0.2s;
                }
            }
          
        }
    }

    .multiple-projects-container-style {
        max-width:300px;   
    }

    .project-img-style{
        max-width: 100px;
    }

    .project-reuse-logo-style{
        max-width:100px;
    }
}

@media only screen and (max-width: 400px) { 
    .font-style{
        font-size:14px;
}

.main-title-style{
    font-size: 1.5rem;
   
}

.secondary-title-style{
 font-size:1.3rem;
}
}